<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-License-Identifier: Apache-2.0
     SPDX-FileCopyrightText: 2026 The halogenOS Project
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="custom.refreshrate.settings"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:label="@string/app_name"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <activity
            android:name=".RefreshRateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/refresh_rate_title"
            android:theme="@style/Theme.SubSettingsBase.Expressive">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_display_refresh" />
            <meta-data
                android:name="com.android.settings.summary"
                android:value="@string/refresh_rate_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-145" />
        </activity>

    </application>
</manifest>
